.productPage {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.productPage-Image {
 width: 80%;
}

.productPage-ItemInfoContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0 1rem;
}

/* product  quantity component*/
.productPage-Quantity {
 display: inline-block;
 background-color: rgb(224, 223, 223);
 padding: 0.5rem 1rem;
}

.productPage-Quantity.minus {
 border-radius: 30% 0 0 30%;
}

.productPage-Quantity.plus {
 margin-right: 1rem;
 border-radius: 0 30% 30% 0;
}

@media (min-width: 768px) {
 .productPage {
  flex-direction: row;
  justify-content: space-around;
 }

 .productPage-Image {
  width: 40%;
 }

 .productPage-ItemInfoContainer {
  width: 50%;
  align-items: flex-start;
 }
}