.shopLogo {
 font-family: 'Sedgwick Ave Display', cursive;
 font-size: 2rem;
}

header {
 text-align: center;
}


.navigationHeading {
 display: flex;
 justify-content: center;
 align-items: center;
}

#navBar a{
display: block;
}



/* hamburger styling */
.hamburger {
 cursor: pointer;
 -webkit-tap-highlight-color: transparent;
 transition: transform 400ms;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.hamburgerRotate.active {
 transform: rotate(45deg);
}

.line {
 fill: none;
 transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
 stroke: var(--main-text);
 stroke-width: 5.5;
 stroke-linecap: round;
}

.hamburger .top {
 stroke-dasharray: 40 139;
}

.hamburger .bottom {
 stroke-dasharray: 40 180;
}

.hamburger.active .top {
 stroke-dashoffset: -98px;
}

.hamburger.active .bottom {
 stroke-dashoffset: -138px;
}

#desktopLinks{
 display: none;
}

/* media query */
@media (min-width: 768px) {
 .hamburger {
  display: none;
 }
 #desktopLinks{
  display: block;
 }

 #desktopLinks a {
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  transition: text-shadow 0.3s ease-in-out, font-weight 0.2s ease-in-out;
 }

 #desktopLinks a{
  display: inline-block;
  }

 #desktopLinks a:hover {
  text-shadow: 0 0 0.5em currentColor;
  font-weight: 800;
 }

 #desktopLinks a.active {
  font-weight: 800;
  border-bottom: 0.2rem solid currentColor;
 }
}