.shopLogo {
 font-family: 'Sedgwick Ave Display', cursive;
 font-size: 2rem;
}

header {
 text-align: center;
}

/* hamburger styling */
.ham {
 cursor: pointer;
 -webkit-tap-highlight-color: transparent;
 transition: transform 400ms;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.hamRotate.active {
 transform: rotate(45deg);
}

.hamRotate180.active {
 transform: rotate(180deg);
}

.line {
 fill: none;
 transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
 stroke: #000;
 stroke-width: 5.5;
 stroke-linecap: round;
}

.ham1 .top {
 stroke-dasharray: 40 139;
}

.ham1 .bottom {
 stroke-dasharray: 40 180;
}

.ham1.active .top {
 stroke-dashoffset: -98px;
}

.ham1.active .bottom {
 stroke-dashoffset: -138px;
}

#navBar {
 display: flex;
 justify-content: center;
 align-items: center;
}

#navBar a {
 font-size: 1.5rem;
 padding: 0.25rem 1rem;
 transition: text-shadow 0.3s ease-in-out, font-weight 0.2s ease-in-out;
}

#navBar a:hover {
 text-shadow: 0 0 0.5em currentColor;
 font-weight: 800;
}

#navBar a.active,
#navBar a.active:visited {
 font-weight: 800;
 border-bottom: 0.2rem solid currentColor;
}